
.search {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    padding: 12px;
    border-radius: 40px;
    border: none;
}

.search-btn {
    border: none;
    border-radius: 20px;
    margin-left: 5px;
    padding: 10px;
    transition: all .3s ease;
    background-color: #fff;
}

.search-btn:hover {
    opacity: .8;
    cursor: pointer;
}

.search-btn:active {
    background-color: #C7AAA4;
}